@use 'reset';

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$gray-blue: hsl(217, 19%, 38%);
$dark-gray-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

$quote-size: 28px;

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: $dark-blue;
}

.advice-card {
    background-color: $dark-gray-blue;
    padding: 2rem;
    margin: auto 2rem;
    border-radius: 8px;
    text-align: center;
    position: relative;

    .advice-number {
        color: $neon-green;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .advice-quote {
        color: $light-cyan;
        font-weight: 800;
    }

    .divider {
        margin-bottom: 1.5rem;
    }

    .reroll-div {
        position: absolute;
        bottom: -30px;

        background-color: $neon-green;
        padding: 1rem;
        width: 32px;
        height: 32px;
        border-radius: 100%;
    }
}

.gap {
    gap: 1.5rem;
}