@use 'reset';

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);
$gray-blue: hsl(217, 19%, 38%);
$dark-gray-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

$quote-size: 28px;

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: $dark-blue;
}

.advice-card {
    background-color: $dark-gray-blue;
    padding: 2rem;
    margin: auto 2rem;
    border-radius: 8px;
}

.gap {
    gap: 2rem;
}